<% @page_title = "Edit settings for #{room.name}" %>

<% content_for :nav do %>
  <div class="flex-item-justify-start">
    <%= link_back_to_last_room_visited %>
  </div>
<% end %>

<section class="panel txt-align-center" style="view-transition-name: edit-room-<%= room.id %>">
  <%= yield %>
</section>

<% if Current.user.can_administer?(@room) && !password_registration_enabled? && sso_enabled? %>
  <section class="panel txt-align-center">
    <div class="flex flex-column gap center-block upad">
      <p class="txt-small txt-subtle">People who aren't on Campfire yet can sign in with SSO using this link and will be added to this room on first sign in.</p>
      <%= render "rooms/show/sso_invite", room: @room %>
    </div>
  </section>
<% end %>

<% if Current.user.can_administer?(@room) %>
  <section class="panel txt-align-center">
    <%= button_to_delete_room room %>
  </section>
<% end %>
