<%= form_with model: room do |form| %>
  <div class="flex align-center gap">
    <% if Current.user.can_administer?(room) %>
      <%= translation_button(:room_name) %>

      <label class="flex-item-grow txt-large">
        <%= form.text_field :name, name: "room[name]", id: "room_name", class: "input full-width",
              required: true, autofocus: true, placeholder: "Name the room",
              data: { turbo_permanent: true, action: "keydown.enter->form#submit:prevent" } %>
        <span class="for-screen-reader">Name this room</span>
      </label>
    <% else %>
      <h1 class="flex-item-grow txt-x-large">
        <%= room.name %>
      </h1>
    <% end %>
  </div>

  <hr class="margin-block borderless">

  <section class="room-access margin-block pad-inline fill-shade border-radius">
    <%= yield %>
  </section>

  <% if Current.user.can_administer?(room) %>
    <div class="margin-block pad-inline pad-block fill-shade border-radius">
      <div class="flex align-center gap">
        <span>🔒</span>
        <span class="flex-item-grow txt-medium">E2E Encryption</span>
        <label class="switch">
          <%= form.check_box :encrypted, class: "switch__input", disabled: room.encrypted? %>
          <span class="switch__btn round"></span>
        </label>
      </div>
      <p class="txt-small txt-deemphasize margin-block-start">
        <% if room.encrypted? %>
          Encryption is enabled. Messages are encrypted end-to-end.
        <% else %>
          Enable end-to-end encryption. Once enabled, this cannot be undone.
        <% end %>
      </p>
    </div>
  <% end %>

  <%= submit_room_button_tag if Current.user.can_administer?(room) %>
<% end %>
