<% @page_title = "Sign in" %>
<% turbo_page_requires_reload %>

<section class="txt-align-center">
  <div class="panel <%= "shake" if flash[:alert] %>">
    <%= account_logo_tag style: "center margin-block-end txt-xx-large" %>

    <!-- OIDC Login Button -->
    <% if ENV['OIDC_ISSUER'].present? %>
      <div class="flex flex-column gap center-block upad margin-block-end">
        <%= form_with url: session_url, method: :post, class: "flex flex-column gap", data: { turbo: false } do |form| %>
          <%= form.hidden_field :oidc_login, value: "1" %>
          <%= form.button class: "btn btn--primary center txt-large", type: "submit" do %>
            Sign in with <%= ENV.fetch('OIDC_PROVIDER_NAME', 'OpenID Connect') %>
          <% end %>
        <% end %>
      </div>
      
      <% unless ENV['DISABLE_LOCAL_LOGIN'].to_s.downcase == 'true' %>
        <div class="txt-align-center margin-block-end">
          <span class="txt-muted">or</span>
        </div>
      <% end %>
    <% end %>

    <!-- Traditional Email/Password Form -->
    <% unless ENV['DISABLE_LOCAL_LOGIN'].to_s.downcase == 'true' %>
      <%= form_with url: session_url, class: "flex flex-column gap" do |form| %>
      <fieldset class="flex flex-column gap center-block upad">
        <legend class="txt-large txt-align-center"><strong><%= Current.account.name %></strong></legend>

        <div class="flex align-center gap">
          <%= translation_button(:email_address) %>
          <label class="flex align-center gap input input--actor txt-large">
            <%= form.email_field :email_address, required: true, class: "input", autofocus: ENV['OIDC_ISSUER'].blank?, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
            <%= image_tag "email.svg", aria: { hidden: "true" }, size: 24, class: "colorize--black" %>
          </label>
        </div>

        <div class="flex align-center gap">
          <%= translation_button(:password) %>
          <label class="flex align-center gap input input--actor txt-large">
            <%= form.password_field :password, required: true, class: "input", autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72 %>
            <%= image_tag "password.svg", aria: { hidden: "true" }, size: 24, class: "colorize--black" %>
          </label>
        </div>

        <%= form.button class: "btn btn--reversed center txt-large", type: "submit", name: "log_in" do %>
          <%= image_tag "arrow-right.svg", aria: { hidden: "true" } %>
          <span class="for-screen-reader">Go</span>
        <% end %>
      </fieldset>
      <% end %>
    <% end %>
  </div>

  <%= render "accounts/help_contact" %>
</section>
